body { background-size:cover; overflow-x:hidden; overflow-y:srcoll; }


.bodyPagePortfolio { display:block;width:100%;position:relative;overflow:hidden; }
.bodyPagePortfolio .portfolioLeft { float:left; padding-top:120px; width:360px; margin-right:20px; overflow:hidden; }
.bodyPagePortfolio .portfolioRight { float:right; padding-top:160px; width:360px; overflow:hidden; }
.bodyPagePortfolio .portfolioDiv { width:360px; height:210px; background:#000; margin:0 0 20px 0; overflow:hidden; position:relative; cursor:pointer; }
.bodyPagePortfolio .portfolioDiv .pic.showOriginal { position:absolute; width:360px; height:210px; opacity:1; transition:opacity 1s; -webkit-transition:opacity 1s; z-index:1; overflow:hidden; }
.bodyPagePortfolio .portfolioDiv:hover .pic.showOriginal { opacity:0; }
.bodyPagePortfolio .portfolioDiv .pic.showOriginal img { width:360px; }
.bodyPagePortfolio .portfolioDiv .pic.showBlur { display:block; position:absolute; width:360px; height:210px; transition:opacity 1s; -webkit-transition:opacity 1s; opacity:0; -webkit-filter:blur(10px); filter:blur(10px); z-index:2; overflow:hidden; }
.bodyPagePortfolio .portfolioDiv:hover .pic.showBlur { opacity:1; }
.bodyPagePortfolio .portfolioDiv .pic.showBlur img { width:360px; }
.bodyPagePortfolio .portfolioDiv .bg { display:block; position:absolute; width:360px; height:210px; transition:opacity 1s; -webkit-transition:opacity 1s; opacity:0; background:#000; z-index:3; overflow:hidden; }
.bodyPagePortfolio .portfolioDiv:hover .bg { opacity:0.5; }
.bodyPagePortfolio .portfolioDiv .text { display:block; position:absolute; width:100%; opacity:0; background:#000; bottom:0; color:#FFF; width:360px; text-align:center; font-size:15px; padding:5px; height:20px; line-height:20px; transition:opacity 1s; -webkit-transition:opacity 1s; z-index:4; }
.bodyPagePortfolio .portfolioDiv:hover .text { opacity:0.5; animation:p201404100533 1s; -webkit-animation:p201404100533 1s; }
@keyframes p201404100533{
	0%{ transform:translate(0,20px); }
	100%{ transform:translate(0,0); }
}
@-webkit-keyframes p201404100533{
	0%{ -webkit-transform:translate(0,20px); }
	100%{ -webkit-transform:translate(0,0); }
}
.bodyPagePortfolio .portfolioDiv .logo { display:block; position:absolute; opacity:0; transition:opacity 1s; -webkit-transition:opacity 1s; width:180px; height:180px; left:90px; top:5px; z-index:4; }
.bodyPagePortfolio .portfolioDiv:hover .logo { opacity:1; animation:p201404100534 1s; -webkit-animation:p201404100534 1s; }
@keyframes p201404100534{
	0%{ transform:translate(0,-20px); }
	100%{ transform:translate(0,0); }
}
@-webkit-keyframes p201404100534{
	0%{ -webkit-transform:translate(0,-20px); }
	100%{ -webkit-transform:translate(0,0); }
}
.bodyPagePortfolio .portfolioDiv .logo img { width:180px; }
/************************************LOGO****************************************************/
.bodyPagePortfolio .portfolioDiv  .box{ position:absolute; width:360px; height:210px; opacity:1; transition:opacity 1s; -webkit-transition:opacity 1s; z-index:1; overflow:hidden;}
.bodyPagePortfolio .portfolioDiv .text1{ position:absolute; width:360px; height:50px;top:80px;color:#fff; z-index:9; line-height:50px; text-align:center; opacity:0; -webkit-transition:opacity 1s;overflow:hidden; background-color:rgba(0,0,0,0.8); letter-spacing:5px; font-size:14px;-webkit-animation:p201410030347 1s;animation:p201410030347 1s;   }
.bodyPagePortfolio .portfolioDiv:hover .text1{opacity:1;}
@-webkit-keyframes p201410030347{
	0%{-webkit-transform:translate(0,-20px);  }
	50%{-webkit-transform: translate(0, -20px); }
	100%{-webkit-transform:translate(0,0);}
}

/****************************************************************************************/
.bodyPagePortfolio .portfolioTitle { display:block; font-weight:900; height:20px; font-size:20px; line-height:20px; border-left:5px solid #333; color:#333; margin-bottom:20px; padding-left:8px; }
.bodyPagePortfolio .portfolioTitle .zhtw { font-size:12px; color:#333; padding-left:10px; font-weight:500; }
.bodyPagePortfolio .portfolioPageCISBg .portfolioTitle,
.bodyPagePortfolio .portfolioPageMarketingBg .portfolioTitle { border-color: #000; color:#000; }
.bodyPagePortfolio .portfolioPageCISBg .portfolioTitle .zhtw ,
.bodyPagePortfolio .portfolioPageMarketingBg .portfolioTitle .zhtw { color:#000; }

.bodyPagePortfolio .portfolioPageWebsiteBg {width:100%; min-height:1200px; }
.bodyPagePortfolio .portfolioPageCISBg { min-height:1350px; background:url(../../img/bg10.jpg) 50% 50% fixed; background-size:cover; }
.bodyPagePortfolio .portfolioPageGraphicDesignBg { display:none;min-height:1200px; background:url(../../img/bg10.jpg) 50% 50% fixed; background-size:cover; }
.bodyPagePortfolio .portfolioPageMarketingBg {display:none; min-height:1200px; background:url(../../img/bg13.jpg) 50% 50% fixed; background-size:cover; }
.bodyPagePortfolio .portfolioPageBg .portfolioPageWebsite,
.bodyPagePortfolio .portfolioPageBg .portfolioPageCIS,
.bodyPagePortfolio .portfolioPageBg .portfolioPageGraphicDesign,
.bodyPagePortfolio .portfolioPageBg .portfolioPageMarketing { position:absolute; padding:0; width:740px; margin-left:-420px; left:50%; overflow:hidden; }

.bodyPagePortfolio .portfolioPageBg.hover .portfolioPage { width:1700px; transform:translate(-400px,0); -webkit-transform:translate(-400px,0); animation:p201404100859 1s; -webkit-animation:p201404100859 1s; }
@keyframes p201404100859{
	0%{ transform:translate(0,0); width:740px; }
	100%{ transform:translate(-400px,0); width:1700px; }
}
@-webkit-keyframes p201404100859{
	0%{ -webkit-transform:translate(0,0); width:740px; }
	100%{ -webkit-transform:translate(-400px,0); width:1700px; }
}
.bodyPagePortfolio .portfolioPageBg.nohover .portfolioPage { width:740px; transform:translate(0,0); -webkit-transform:translate(0,0); animation:p201404101002 2s; -webkit-animation:p201404101002 2s; }
@keyframes p201404101002{
	0%{ transform:translate(-400px,0); width:1700px; }
	50%{ transform:translate(-400px,0); width:1700px; }
	100%{ transform:translate(0,0); width:740px; }
}
@-webkit-keyframes p201404101002{
	0%{ -webkit-transform:translate(-400px,0); width:1700px; }
	50%{ -webkit-transform:translate(-400px,0); width:1700px; }
	100%{ -webkit-transform:translate(0,0); width:740px; }
}
.bodyPagePortfolio .portfolioPageBg .portfolioContent { float:left; width:0; height:1500px; overflow:hidden; }
.bodyPagePortfolio .portfolioPageBg.hover .portfolioContent { width:940px; animation:p201404100901 2s; -webkit-animation:p201404100901 2s; }
@keyframes p201404100901{
	0%{ width:0; }
	50%{ width:0; }
	100%{ width:940px; }
}
@-webkit-keyframes p201404100901{
	0%{ width:0; }
	50%{ width:0; }
	100%{ width:940px; }
}
.bodyPagePortfolio .portfolioPageBg.nohover .portfolioContent { width:0; margin-right:0; animation:p201404101003 1s; -webkit-animation:p201404101003 1s; }
@keyframes p201404101003{
	0%{ width:940px; margin-right:20px; }
	100%{ width:0; margin-right:0; }
}
@-webkit-keyframes p201404101003{
	0%{ width:940px; margin-right:20px; }
	100%{ width:0; margin-right:0; }
}
.fixedPortfolioContent { display:none; }
.fixedPortfolioContent { display:none; position:fixed; left:50%; margin:0 0 0 -440px; width:940px; height:1000px; z-index:98; background-position:0 0; overflow:hidden; }
.fixedPortfolioContent.opacity1 { display:block; animation:p201404100901 2s; -webkit-animation:p201404100901 2s; }
.fixedPortfolioContent .content { width:860px; padding:100px 0 0 40px; overflow:hidden; }
.fixedPortfolioContent .content .pic { display:block; width:840px; padding:10px; height:430px; background:#FFF; margin-bottom:10px; overflow:hidden; }
.fixedPortfolioContent .content .pic img { width:840px; height:430px; }
.fixedPortfolioContent .content .ahref { display:block; float:right; margin-right:10px; background: rgba(0, 0, 0, 0.5); padding:5px 20px; border-radius:5px; color:#FFF; font-size:15px; }
.fixedNoClickLeft { display:block; position:fixed; left:50%; margin-left:-1390px; width:950px; height:1000px; background:#FFF; opacity:0; z-index:98; transition:opacity 1s; -webkit-transition:opacity 1s; }
.fixedNoClickLeft.opacity1 { opacity:0.9; }
.fixedNoClickRight { display:block; position:fixed; left:50%; margin-left:500px; width:950px; height:1000px; background:#FFF; opacity:0; z-index:98; transition:opacity 1s; -webkit-transition:opacity 1s; }
.fixedNoClickRight.opacity1 { opacity:0.9; }
.fixedNoClick { display:none; position:fixed; left:0; width:1900px; height:1600px; background:#FFF; opacity:0; z-index:98; }
.fixedNoClick.displayblock { display:block; }


@media screen and (max-width: 700px){


	.bodyPagePortfolio { display:block;width:100%;height:100%;position:relative;overflow:hidden; }
	.portfolioPage{width:100%;}
	.bodyPagePortfolio .portfolioLeft { float:none; padding-top:50px; width:300px; margin-right:20px; overflow:hidden;  }
	.bodyPagePortfolio .portfolioRight { float:none; padding-top:0px; width:300px; overflow:hidden;margin-top:-20px; }
	.bodyPagePortfolio .portfolioDiv { width:100%; height:170px; background:#FFF; margin:20px auto 20px auto; overflow:hidden; position:relative; cursor:auto;border-radius:5px; }
	.bodyPagePortfolio .portfolioDiv .pic.showOriginal { position:absolute; width:100%; height:170px; opacity:1; transition:opacity 1s; -webkit-transition:opacity 1s; z-index:1; overflow:hidden; }
	.bodyPagePortfolio .portfolioDiv:hover .pic.showOriginal { opacity:1; }
	.bodyPagePortfolio .portfolioDiv .pic.showOriginal img { width:100%; }
	.bodyPagePortfolio .portfolioDiv .pic.showBlur { display:none; }
	.bodyPagePortfolio .portfolioDiv .bg {display:none; }
	.bodyPagePortfolio .portfolioDiv .text { display:block; position:absolute; width:100%; opacity:1; background:rgba(0,0,0,0.6); bottom:0; color:#FFF; width:300px; text-align:center; font-size:14px; padding:5px; height:20px; line-height:20px; z-index:4;letter-spacing:1px; }
	.bodyPagePortfolio .portfolioDiv:hover .text {opacity:1;animation:none; }
	.bodyPagePortfolio .portfolioDiv .logo {display:none; }

	/************************************LOGO****************************************************/
	.bodyPagePortfolio .portfolioDiv  .box{ position:absolute; width:300px; height:170px; opacity:1; transition:opacity 1s; -webkit-transition:opacity 1s; z-index:1; overflow:hidden;}
	.bodyPagePortfolio .portfolioDiv  .box img{ width:100%;}
	.bodyPagePortfolio .portfolioDiv .text1{ position:absolute; width:300px; height:40px;left:0px;top:70px;color:#fff; z-index:9; line-height:40px; text-align:center; opacity:0; -webkit-transition:opacity 1s;overflow:hidden; background-color:rgba(0,0,0,0.8); letter-spacing:2px; font-size:13px;animation:none;}
	.bodyPagePortfolio .portfolioDiv:hover .text1{opacity:1;}
	.bodyPagePortfolio .portfolioDiv:hover .text2{opacity:1;}

	/****************************************************************************************/
	.bodyPagePortfolio .portfolioTitle { display:block; font-weight:900; height:20px; font-size:20px; line-height:20px; border-left:5px solid #333; color:#333; margin-bottom:20px; padding-left:8px; }
	.bodyPagePortfolio .portfolioTitle .zhtw { font-size:12px; color:#333; padding-left:10px; font-weight:500; }
	.bodyPagePortfolio .portfolioPageCISBg .portfolioTitle,
	.bodyPagePortfolio .portfolioPageMarketingBg .portfolioTitle { border-color: #000; color:#000; }
	.bodyPagePortfolio .portfolioPageCISBg .portfolioTitle .zhtw ,
	.bodyPagePortfolio .portfolioPageMarketingBg .portfolioTitle .zhtw { color:#000; }

	.bodyPagePortfolio .portfolioPageWebsiteBg {width:100%;height:1750px;padding-top:50px;}
	.bodyPagePortfolio .portfolioPageCISBg { width:100%;height:1650px;background:url(../../img/bg10.jpg) 50% 50% fixed; background-size:cover; }
	.bodyPagePortfolio .portfolioPageGraphicDesignBg {width:100%;height:1650px; background:url(../../img/bg10.jpg) 50% 50% fixed; background-size:cover; }
	.bodyPagePortfolio .portfolioPageMarketingBg { width:100%;height:1650px;background:url(../../img/bg13.jpg) 50% 50% fixed; background-size:cover; }
	.bodyPagePortfolio .portfolioPageBg .portfolioPageWebsite,
	.bodyPagePortfolio .portfolioPageBg .portfolioPageCIS,
	.bodyPagePortfolio .portfolioPageBg .portfolioPageGraphicDesign,
	.bodyPagePortfolio .portfolioPageBg .portfolioPageMarketing { position:absolute; padding:0; width:300px; margin-left:-150px; left:50%; overflow:hidden; }

	.bodyPagePortfolio .portfolioPageBg.hover .portfolioPage {display:block;}
	.bodyPagePortfolio .portfolioPageBg.nohover .portfolioPage {display:block; }
	.bodyPagePortfolio .portfolioPageBg .portfolioContent { display:none;float:none; width:100%;overflow:hidden; }
	.bodyPagePortfolio .portfolioPageBg.hover .portfolioContent {display:none;}
	.bodyPagePortfolio .portfolioPageBg.nohover .portfolioContent {display:none; }

	.fixedPortfolioContent { display:none; }
	.fixedPortfolioContent { display:none; }
	.fixedPortfolioContent.opacity1 {display:none;  }
	.fixedPortfolioContent .content {display:none; }
	.fixedPortfolioContent .content .pic {display:none;}
	.fixedPortfolioContent .content .pic img { display:none;}
	.fixedPortfolioContent .content .ahref { display:none; }
	.fixedNoClickLeft { display:none;  }
	.fixedNoClickLeft.opacity1 { opacity:0.9; }
	.fixedNoClickRight { display:none;  }
	.fixedNoClickRight.opacity1 { opacity:0.9; }
	.fixedNoClick { display:none; }
	.fixedNoClick.displayblock { display:none;  }


		
	.contactFormHover{display:none;}




}
